.dogpics{
  width: 30%;
  height:50%;

}
.links li{


  display:inline-block;
  
  
}
.links li:hover{


 color:pink !important;
  
  
}
container {
  display: flex;
  flex-direction:row;
  


}
.tile{
  text-align: center;
  

}
.tile:hover{
  background-color:pink;
} 
#slide-image{
  height:45%;
  width:45%;
}